@page
@model OilPricesProfile.Pages.Account.ForgotPasswordConfirmationModel
@{
}
<h1>Forgot Password Confirmation</h1>
<p>An email with instructions on how to reset your password has been sent to your email address.</p>